<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Montserrat:wght@600&family=Open+Sans&family=Lato:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Unna:wght@700&family=Work+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://kit.fontawesome.com/ba0e8dae74.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <%- include('partials/products-slider') %>
       <div class="reviews">
            <h2>Opinie naszych klientów</h2>
            <div class="reviews-container">
                <% reviews.forEach(review => { %>
                    <div class="review-card">
                        <div class="review-header">
                            <div class="review-author-avatar">
                            <%= review.author.charAt(0) %> 
                            </div>
                            <div class="review-author-info">
                                <h3><%= review.author %></h3>
                            </div>
                        </div>
                        <div class="review-stars">
                            ★★★★★
                        </div>
                        <p class="review-text">"<%= review.text %>"</p>
                    </div>
                <% }); %>
            </div>
       </div>
    </main>
    <%- include('partials/footer') %>
<script src="/js/slider.js" defer></script>
</body>
</html>