<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
     <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Montserrat:wght@600&family=Open+Sans&family=Lato:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Unna:wght@700&family=Work+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://kit.fontawesome.com/ba0e8dae74.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include('partials/header') %>
    <div class="products">
        <h2>Produkty</h2>
        <% if (products.length > 0) { %>
            <div class="products-container">
                <% products.forEach(product => { %>
                    <div class="product-card">
                            <a href="/products/<%= product.id %>">
                            <img src="<%= product.image %>" alt="<%= product.title %>">
                            <h3 class="title"><%= product.title %></h3>
                            <p class="price">
                                <%= product.price %> PLN
                            </p>
                            <p class="category">
                                <%= product.category %>
                            </p>
                        </a>
                        <button class="add-to-cart-btn" data-id="<%= product.id %>" data-title="<%= product.title %>" data-price="<%= product.price %>" data-image="<%= product.image %>">Dodaj do koszyka</button>
                    </div>
                    <% }) %>
            </div>
        <% } else { %>
        <p>Brak produktów w bazie.</p>
    <% } %>
    </div>
    <%- include('partials/footer') %>
    <script src="/js/cart.js" defer></script>
</body>
</html>